<head>
<title>About Us</title>

<!-- <link rel="stylesheet" href="/styles/style.css"> -->
</head>

<body>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://ca.slack-edge.com/T039KG69K-US5HS91PX-64b78688cddb-512" alt="Anthony Horton">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://media-exp1.licdn.com/dms/image/C5603AQHXVik5ya9mWg/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=pFnFPy_7KIgQ3pJUvBZk3AShzyvufiicykGEwFHNi-M" alt="Sean Landers">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://media-exp1.licdn.com/dms/image/C5603AQEWHiQTMxOuhQ/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=lB9D6NXOu69iO1z8IsD4m0w9LB2oLPT2_ubILceGgcQ" alt="Sue Tarazi">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://media-exp1.licdn.com/dms/image/C4E03AQEXPA41F6fCwQ/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=eF2vWB41GXfp-LxNVttEZRXJvNCV3Jx56WroYIwcc2I" alt="Carrington Beard">  
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      
    <!-- <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
            <!-- Indicators -->
            <!-- <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol> -->
            <!-- Wrapper for slides -->
            <!-- <div class="carousel-inner">
              <div class="item active">
                <img src="https://ca.slack-edge.com/T039KG69K-US5HS91PX-64b78688cddb-512" width=500px alt="Anthony Horton">
              </div>
              <div class="item">
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQHXVik5ya9mWg/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=pFnFPy_7KIgQ3pJUvBZk3AShzyvufiicykGEwFHNi-M" width=500px alt="Sean Landers">
              </div>
              <div class="item">
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQEWHiQTMxOuhQ/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=lB9D6NXOu69iO1z8IsD4m0w9LB2oLPT2_ubILceGgcQ" width=500px alt="Sue Tarazi">
              </div>
              <div class="item">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEXPA41F6fCwQ/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=eF2vWB41GXfp-LxNVttEZRXJvNCV3Jx56WroYIwcc2I" width=500px alt="Carrington Beard">
              </div>

            </div> -->
            <!-- Left and right controls -->
            <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
 -->
    <!-- Slideshow Container Div
<div class="container" data-options="loop: rewind;"> 
  
Full-width images with caption text
     <div class="image-sliderfade fade"> 
        <img src="https://ca.slack-edge.com/T039KG69K-US5HS91PX-64b78688cddb-512" style="width:100%"> 
      <div class="text">Anthony Horton</div> 
    </div> 

    <div class="image-sliderfade fade"> 
        <img src= "https://media-exp1.licdn.com/dms/image/C5603AQHXVik5ya9mWg/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=pFnFPy_7KIgQ3pJUvBZk3AShzyvufiicykGEwFHNi-M" style="width:100%"> 
      <div class="text">Sean Landers</div> 
    </div> 
    
    <div class="image-sliderfade fade"> 
        <img src= "https://media-exp1.licdn.com/dms/image/C5603AQEWHiQTMxOuhQ/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=lB9D6NXOu69iO1z8IsD4m0w9LB2oLPT2_ubILceGgcQ" style="width:100%"> 
      <div class="text">Sue Tarazi</div> 
    </div> 
    
    <div class="image-sliderfade fade"> 
        <img src= "https://media-exp1.licdn.com/dms/image/C4E03AQEXPA41F6fCwQ/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=eF2vWB41GXfp-LxNVttEZRXJvNCV3Jx56WroYIwcc2I" style="width:100%"> 
      <div class="text">Carrington Beard</div> 
    </div> 
    
  </div> 
  <br> 
     -->
  <!-- The dots/circles -->
  <!-- <div style="text-align:center"> 
    <span class="dot"></span>  
    <span class="dot"></span>  
    <span class="dot"></span>  
  </div>  --> -->

 -->
  <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="app.js"></script>   -->

</body>