<!doctype html>

<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/layout.css">
<link rel="stylesheet" href="/styles/modules.css">
</head>
<body>
<footer>
CodeFellows 2020
</footer>
</body>