<!DOCTYPE <!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <%- include('./partials/nav') %>

        <div>
            <h3>Anthony Horton</h3>
            <p>Bio: I'm Anthony, a committed business professional
                experienced in driving business optimization through innovative adoption of new technology—programming algorithims and robust data mapping with JavaScript, Visual Basic, and web services; building interactive design with HTML, CSS, and Microsoft Office. Passionate about advancing the mission of organizations where continuous improvement, productivity, and compliance are foundational in bringing about unyielding customer success. </p>
        </div>
        <img src= "https://ca.slack-edge.com/T039KG69K-US5HS91PX-64b78688cddb-512"/>

        <div>
        <h3>Sean Landers</h3>
        <p>Bio: </p>
         </div>
        <img src= "https://media-exp1.licdn.com/dms/image/C5603AQHXVik5ya9mWg/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=pFnFPy_7KIgQ3pJUvBZk3AShzyvufiicykGEwFHNi-M" />

        <div> 
        <h3>Sue Tarazi</h3>
        <p>Bio: I'm Dr. Sue Tarazi, and I believe in giving people a better quality of life. After Owning a Physical Therapy Private Practice for over 9 years that operated in the black every year, I decided to branch out and make the transition to becoming a software developer. 
        I still love health and wellness as well as caring for others on a large scale, but being in tech actually allows me to work with a team on a product or service that can improve the lives of a greater number of people.            
        Transitioning careers to a full-stack JavaScript software developer means I also bring with me the skills of organizing and running a project, excellent problem solving skills, the ability to connect with others as well as my lifelong love of learning that I have possessed for years.</p>
        </div>
        <img src= "https://media-exp1.licdn.com/dms/image/C5603AQEWHiQTMxOuhQ/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=lB9D6NXOu69iO1z8IsD4m0w9LB2oLPT2_ubILceGgcQ" />

        <div>
        <h3>Carrington Beard</h3>
        <p>Bio: </p>
        </div>
        <img src= "https://media-exp1.licdn.com/dms/image/C4E03AQEXPA41F6fCwQ/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=eF2vWB41GXfp-LxNVttEZRXJvNCV3Jx56WroYIwcc2I" />

        <script src="" async defer></script>
    </body>
</html>