<!DOCTYPE <!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h3>Anthony Horton</h3>
        <img src= "https://ca.slack-edge.com/T039KG69K-US5HS91PX-64b78688cddb-512"/>


        <h3>Sean Landers</h3>
        <img src= "https://media-exp1.licdn.com/dms/image/C5603AQHXVik5ya9mWg/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=pFnFPy_7KIgQ3pJUvBZk3AShzyvufiicykGEwFHNi-M" />


        <h3>Sue Tarazi</h3>
        <img src= "https://media-exp1.licdn.com/dms/image/C5603AQEWHiQTMxOuhQ/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=lB9D6NXOu69iO1z8IsD4m0w9LB2oLPT2_ubILceGgcQ" />

        <h3>Carrington Beard</h3>
        <img src= "https://media-exp1.licdn.com/dms/image/C4E03AQEXPA41F6fCwQ/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=eF2vWB41GXfp-LxNVttEZRXJvNCV3Jx56WroYIwcc2I" />

        <script src="" async defer></script>
    </body>
</html>