<!DOCTYPE <!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/layout.css">   
        <link rel="stylesheet" href="/styles/modules.css">
    </head>
    <body>
        <%- include('./partials/nav') %>
        <br><br><br>
        <header><h1>Our Team</h1></header>
        <br>
        <%- include('./partials/carousel') %>
        
        <div>
            <br><br>
            <h3>Anthony Horton</h3>
            <p>Bio: I'm Anthony, a committed business professional
                experienced in driving business optimization through innovative adoption of new technology—programming algorithims and robust data mapping with JavaScript, Visual Basic, and web services; building interactive design with HTML, CSS, and Microsoft Office. Passionate about advancing the mission of organizations where continuous improvement, productivity, and compliance are foundational in bringing about unyielding customer success. </p>
                <a href="https://carringtonb.herokuapp.com/" target="_blank" class="aboutUsLink">Portfolio</a>
        </div>
        

        <div>
        <h3>Sean Landers</h3>
        <p>Bio: I served in the Army for 8 years as an intelligence collector. I left because I felt it was time for a career change and I wanted to be able to serve others in a different way. I decided to pursue Software Development as a means of creating applications that enhance and improve peoples live while respecting privacy.</p>
        <a href="https://brody-server-301.herokuapp.com/" target="_blank" class="aboutUsLink">Portfolio</a>
    </div>
        

        <div> 
        <h3>Sue Tarazi</h3>
        <p>Bio: I'm Dr. Sue Tarazi, and I believe in giving people a better quality of life. After Owning a Physical Therapy Private Practice for over 9 years that operated in the black every year, I decided to branch out and make the transition to becoming a software developer. 
        I still love health and wellness as well as caring for others on a large scale, but being in tech actually allows me to work with a team on a product or service that can improve the lives of a greater number of people.            
        Transitioning careers to a full-stack JavaScript software developer means I also bring with me the skills of organizing and running a project, excellent problem solving skills, the ability to connect with others as well as my lifelong love of learning that I have possessed for years.</p>
        <a href="https://sue-heroku.herokuapp.com/" target="_blank" class="aboutUsLink">Portfolio</a>
    </div>
        

        <div>
        <h3>Carrington Beard</h3>
        <p>Bio: My name is Carrington Beard. I am a full-stack software engineer based in Seattle, WA. I am originally from Denver, CO where I spent 7 years working as a certified oil-field and structural code welder.</p>
        <a href="https://carringtonb.herokuapp.com/" target="_blank" class="aboutUsLink">Portfolio</a>
        </div>
    <br>
    <br>
    <br>

        <%- include('./partials/footer') %>

        <script src="" async defer></script>
    </body>
</html>