header, section, footer, nav, article, figure, figcaption {
    display: block;
}

body {
    width: 960px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* text-align: center; */
    background-color: #78A4BF;
    color: #1B2F32;
    margin: auto;
    box-sizing: border-box;
    
}

#hero {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

header {
    height: 120px; 
}

nav {
    width: 100%;
    background-color: #324873; 
    height: 60px;
    margin: 0px;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2, h3 {
    text-align: center;
}

h6 {
  font-family: 'Roboto Slab', serif;
  font-size: 20px; 
  margin-left: 10px;
  font-weight: bold;
  color: #1B2F32;   
  
}

#herbSection {
  display: grid;

}


.video {
  text-align: center;
}

.circular--landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 35px;
    margin-left: 60px;
    /* float: left; */
  }

  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: 0px;
    
  }

  .herbs {
      /* clear: both;    */
    /* background-color: lightgreen; */
    width: 550px; 
    margin-top: 30px;
    margin-right: 60px;
    float: right;
  }


#inflammatoryFoods {
    display: inline; 
}
  .circular--landscape2 {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px;
    margin-left: 0px;
    /* float: left; */
  }

  .circular--landscape2 img {
    width: auto;
    height: 100%;
    margin-left: 0px;
    
  }

  .circular--landscape3 {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px;
    margin-left: 380px;
    text-align: center;
    /* float: left; */
  }

  .circular--landscape3 img {
    width: auto;
    display: inline-block; 
    height: 100%;
    margin-left: -58px;
    text-align: center;
    
  }
  
  footer{
      width: 100%;
      height: 60px;
      margin: 0px;
      background-color: #324873; 
      color: #99BFB4; 
      margin-left: 0px;
      text-align: center;
      line-height: 60px;
    }

/* CSS for Hamburger Nav */
.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }
  
  .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
  background: #e65100;
  }
  
  .animated-icon2 span {
  background: #e3f2fd;
  }
  
  .animated-icon3 span {
  background: #f3e5f5;
  }
  
  .animated-icon1 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
  top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
  top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  }
  
  /* Icon 3*/
  
  .animated-icon2 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
  }
  
  .animated-icon2 span:nth-child(4) {
  top: 20px;
  }
  
  .animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  .animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  .animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  
  .animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  /* Icon 4 */
  
  .animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
  }
  
  .animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  }
  
  .animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
  }

/* CSS code for Carousel */
* 
{ 
box-sizing: border-box; 
} 
body 
{ 
font-family: Verdana, sans-serif; 
} 

.image-sliderfade 
{ 
display: none; 
} 

img 
{ 
vertical-align: middle; 
} 

/* Slideshow container */
.container 
{ 
max-width: 600px;
/* max-height: 200px;   */
position: relative; 
margin: auto; 
} 

/* Caption text */
.text 
{ 
color: #f2f2f2; 
font-size: 15px; 
padding: 20px 15px; 
position: absolute; 
right: 10px; 
bottom: 10px; 
width: 40%; 
background: rgba(0, 0, 0, .7); 
text-align: left; 
} 

/* The dots/bullets/indicators */
.dot 
{ 
height: 15px; 
width: 15px; 
margin: 0 2px; 
background-color: transparent; 
border-color: #ddd; 
border-width: 5 px; 
border-style: solid; 
border-radius: 50%; 
display: inline-block; 
transition: border-color 0.6s ease; 
} 

.active 
{ 
border-color: #666; 
} 

/* Animation */
div.container div.image-sliderfade fade {
  animation-iteration-count:infinite;
}

.fade 
{ 
-webkit-animation-name: fade-image; 
-webkit-animation-duration: 1.5s; 
animation-name: fade-image; 
animation-duration: 1.5s; 
} 

@-webkit-keyframes fade-image 
{ 
from {opacity: .4} 
to {opacity: 1} 
} 

@keyframes fade-image 
{ 
from {opacity: .4} 
to {opacity: 1} 
} 

#searchCity {
  display: block;
  text-align: center; 
}

#linebreak{
  break-after: always;
   
}

a.nav-link{
  text-align: right; 
}

.carousel {
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.carousel-item {
  height: 400px;
  width: 400px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 480px) 
{ 
body {
  width: 100vw;
  box-sizing: border-box;  
  margin: 0 auto;
  position: center;  
}

#herbSection {
 display: flex;
 flex-direction: column;  
}

#herbSection .herbs{
  text-align: center;
  margin-left: 40px;
  margin-right: 0px;  
}

} 
.text {font-size: 11px} 

.d-block w-100 {
  width: 10%;
}